<form class="py-3">
  <div class="row g-3">
    <div class="col-sm-6">
      <label for="accessoireName" class="form-label">Sensor/ Aktor</label>
      <input type="text" class="form-control" id="accessoireName">
    </div>
    <div class="col-sm-6">
      <label for="accSerialNo" class="form-label">Seriennummer</label>
      <input type="text" class="form-control" id="accSerialNo">
    </div>

    <div class="col-sm-12">
      <label for="accDesc" class="form-label">Beschreibung des Sensors/ Aktors</label>
      <input type="text" class="form-control" id="accDesc">
    </div>
  </div>
</form>
