<div class="container-fluid flex-row justify-content-between p-4">
  <div class="row align-items-start">
    <div class="col-6">
      <input type="text" placeholder="Suche nach Gerät, Typ, Techniker oder Datum" class="form-control">
    </div>
    <div class="col-3">
      <button class="btn btn-secondary">Suchen</button>
    </div>
    <div class="col-3">
      <div class="dropdown w-100">
        <button class="btn btn-secondary dropdown-toggle w-75 float-end" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sortieren nach
        </button>
        <ul class="dropdown-menu w-100">
          <li><a class="dropdown-item">Datum</a></li>
          <li><a class="dropdown-item">Kunde</a></li>
          <li><a class="dropdown-item">Gerätetyp</a></li>
          <li><a class="dropdown-item">Techniker</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-12">
      <ul class="list-group my-4">
        <li
          *ngFor="let entry of entries"
          class="list-group-item list-group-item-action"
          (click)="showClicks($event)">
          <div class="d-flex w-100 justify-content-between">
            <p class="mb-1">{{entry.client}}</p>
            <small>{{getDate(entry.id) | date }}</small>
          </div>
          <h4 class="mb-1">{{entry.device}}</h4>
          <div class="d-flex w-100 justify-content-between">
            <small>{{entry.type}}</small>
            <small>{{entry.technician}}</small>
          </div>

        </li>
      </ul>
    </div>
  </div>

</div>
