:host {
  display: grid;
  grid-template-rows: 10svh 90svh;
  grid-template-areas: 'header'
'content';
}

app-header {
  grid-area: header;
}

.content {
  grid-area: content;
  display: flex;
}

.content-container {
  width: 100%;
  height: 90svh;

}





