<form class="py-3">
  <div class="row g-3">
    <h3>Akku Daten</h3>
    <div class="col-8"
    *ngIf="!individualBatteryTypeNeeded.checked; else individualBatteryTypeInput">
      <label for="batteryType" class="form-label required">Akkutyp</label>
      <select class="form-select" id="batteryType">
        <option value="">Gerät wählen</option>
        <option>United States</option>
      </select>
    </div>

    <ng-template #individualBatteryTypeInput>
      <div class="col-8">
        <label for="individualBatteryType" class="form-label required">Akkutyp</label>
        <input type="text" id="individualBatteryType">
      </div>
    </ng-template>

      <div class="col-sm-4">
        <label for="individualType" class="form-label">Individueller Typ</label>
        <input type="checkbox" id="individualType" #individualBatteryTypeNeeded>
      </div>

      <div class="col-sm-6">
        <label for="accSerialNo" class="form-label">Seriennummer</label>
        <input type="text" class="form-control" id="accSerialNo">
      </div>
      <div class="col-sm-6">
        <label for="accessoireName" class="form-label">Akku Inbetriebnahme</label>
        <input type="date" class="form-control" id="accessoireName">
      </div>

    <div class="col-sm-12">
      <label for="batteryStatus">Akku Status</label>
      <select class="form-select" id="batteryStatus">
        <option value="">Status</option>
        <option>United States</option>
      </select>
    </div>

    <hr class="py-2">
      <h3>Zyklus Tracking</h3>
    <div class="row align-items-center">
      <div class="col">
        <label for="cycleNumber" class="form-label">Anzahl</label>
        <input type="number" class="form-control" id="cycleNumber">
      </div>
      <div class="col">
        <label for="cycleDate" class="form-label">Datum</label>
        <input type="date" class="form-control" id="cycleDate">
      </div>
      <div class="col">
          <button class="btn btn-primary mt-4 w-50">Add</button>
      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let cycle of mockBatteryCycles">
        <span class="badge bg-primary rounded-pill">{{cycle.cycleNumber}}</span>
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{cycle.cycleNumberDate | date }}</div>
        </div>
        <span class=""><mat-icon>delete</mat-icon></span>
      </li>
    </ul>

    <hr class="py-2">
    <h3>Problem Tracking</h3>

    <div class="row align-items-start">
      <div class="col-sm-4">
        <label for="problem" class="form-label">Akku Problem</label>
        <select class="form-select" id="problem">
          <option value="">Akku Problem wählen</option>
          <option>United States</option>
        </select>
      </div>
      <div class="col-sm-6">
        <label for="cycleDate" class="form-label">Zustandsbeschreibung</label>
        <textarea rows="3" class="form-control" id="problemDescription"></textarea>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary mt-4 w-50">Add</button>
      </div>
    </div>

    <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let problem of mockBatteryProblem">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{problem.batteryCondition}}</p>
          <small class="text-muted">3 days ago</small>
        </div>
        <h5 class="mb-1">{{problem.batterConditionDescription}}</h5>
        <small class="text-muted bg-warning">{{problem.batterProblemStatus}}</small>
      </a>
    </ul>

  </div>
</form>
