    <form>
      <div class="accordion" id="droneForm">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                 aria-expanded="false" aria-controls="collapseOne">
              <p class="w-25">Gerätedaten</p>
              <p class="px-5 form-status">
                <mat-icon>done_all</mat-icon>
                Alle notwendigen Felder gefüllt
              </p>
            </div>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#droneForm">
            <app-general-device-form></app-general-device-form>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                 aria-expanded="false" aria-controls="collapseTwo">
              <p class="w-25">Sensor/ Aktor</p>
              <p class="px-5 form-status">
                <mat-icon>done_all</mat-icon>
                Alle notwendigen Felder gefüllt
              </p>
            </div>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#droneForm">
            <app-accessoires></app-accessoires>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <p class="w-25">Akku</p>
              <p class="px-5 form-status">
                <mat-icon>done_all</mat-icon>
                Alle notwendigen Felder gefüllt
              </p>
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse px-3 py-3" data-bs-parent="#droneForm">
            <app-battery></app-battery>
          </div>
        </div>
      </div>
    </form>
