/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'manrope';
  src: url("assets/font/Manrope-VariableFont_wght.ttf");
  font-weight: 100 900;
}
p, h1, h2, h3, h4, h5, span {
  font-family: manrope, sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; overflow: hidden}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(216, 37%, 31%, 50%);
  opacity: .7;
  border-radius: 10px;
}

/* ----- INPUT FIELD STYLING ----- */

::placeholder {
  color: hsla(216, 37%, 31%, 75%);
  opacity: 1; /* Firefox */
  font-size: 12px;
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: hsla(216, 37%, 31%, 75%);
  font-size: 12px;
}

input:focus {
  border: none;
  outline: 1px solid hsla(216, 37%, 31%, 50%);
  box-shadow: 0 0 10px 2px hsla(216, 37%, 31%, 50%) ;
}

label.required::after {
  content: '*';
  color: deeppink;
}

label {
  font-weight: bold;
  color: #324A6D;
}

/* ----- GLOBAL FORM STYLINGS -----*/


.form-group {
  overflow-y: scroll;
  padding: 1rem;
}

.form-status {
  color: lightgreen;
}

.form-action-btn-group {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* ----- GLOBAL BUTTON STYLINGS ----- */
.btn-primary, .btn-primary:focus, .btn-primary:active {
  background: #324A6D;
  color: white;
}

.btn {
  border: none;
}

.btn:hover {
  background: hsla(216, 37%, 31%, 50%);
  border: none;
}


/* ----- GLOBAL  BACKGROUNDS ----- */
.bg-primary {
  background: #324A6D !important;
}
